<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-us" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <title>{{ page.title }}</title>
    <meta content="Michael Deimel" name="author"/>
    <link href="http://feeds.feedburner.com/michael-deimel" rel="alternate" title="Michael Deimelr" type="application/atom+xml"/link>
    <link href="/css/syntax.css" rel="stylesheet" type="text/css" /link>

    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" link>
  </head>
  <body>
    <div class="site">
      <div class="title">
        <a href="/">Michael Deimel</a>
        <a class="extra" href="/">home</a>
      </div>
      {{ content }}
      <div class="footer">
        <div class="contact">
          <p>
            Michael Deimel
            <br/>
            <a href="mailto:michael@deimel.de">michael@deimel.de</a>
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="http://github.com/stereosupersonic/">github.com/stereosupersonic</a>
            <br/>
            <a href="http://twitter.com/stereosonnig/">twitter.com/stereosonnig</a>
            <br/>
            <a href="http://www.xing.com/profile/Michael_Deimel">http://www.xing.com/profile/Michael_Deimel</a>
            <br/>
          </p>
        </div>
      </div>
      <a href="http://github.com/stereosupersonic">
        <img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" style="position: absolute; top: 0; right: 0; border: 0;"/>
      </a>

      <script>

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1309237-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

    </div>
  </body>
</html>
